.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}

.App-container {
    background-image: url(../img/background.jpg);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    justify-content: end;
}

.App-footer {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #1c1c1c;
    color: white;
}

.App-img-logo {
    max-height: 100px;
    width: auto;

}

.App-color-white {
    color: #ffffff;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
