body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.truncate, .truncate span, .truncate div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card {
    width: 223px;
    height: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.media {
    width: 90%;
    height: 100%;
    background-size: contain;
}

.header {
    padding: 16px;
    width: 100%;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.pagination {
    font-size: 14px;
    text-align: center;
}

.paginate ul {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}

.pagination li {
    display: inline-block;
    cursor: pointer;
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #2b8688;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 3;
    color: #fff !important;
    background-color: #2b8688;
    border-color: #2b8688;
    cursor: default;
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    z-index: 2;
    color: #2b8688 !important;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 3;
    color: #fff !important;
    background-color: #2b8688;
    border-color: #2b8688;
    cursor: default;
}
